.box {
    margin: auto;
    border-style: solid;
    text-align: center;
    background-color: rgb(233, 208, 208);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.border{
    border-style:ridge;
    width: 100vh;
    height: 50vh;
    margin: auto;
    background-color:rgb(236, 113, 113);
}

h2 {
    font-size: 0.9em;
    color:#ffffff;
}

textarea {
    background-color: rgb(233, 208, 208);
    border: solid;    
}

h3 {
    font-size: 0.9em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
